body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 51, 51);
}